.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .centered {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  .background {
    background: linear-gradient(325deg, rgb(70, 128, 148) 0%, rgb(22, 97, 196) 100%);
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  a.btn {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  a.btn:link {
    text-decoration: inherit;
    color: inherit;
}

a.btn:visited {
    text-decoration: inherit;
    color: inherit;
}

a.btn:hover {
  color: grey;
}