.card {
    background: none;
}

.card-title {
    color: black;
    font-size: 1.6rem;
}

.card-text{
    font-size: 1.2rem;
}

.high {
    color: rgba(245, 240, 240, 0.932);
}

.low {
    color: rgb(161, 161, 161);
}